.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #776B5D;
}

.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: #B0A695;
  text-align: center;
}

.categoria {
  color: #F3EEEA;
  text-decoration: none;
}